.hero span {
  color: #0f69e7;
}
.hero h1 {
  font-size: 4rem;
}
.advertise {
  font-weight: 500;
  font-size: 20px;
}
.hero {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  padding-left: 1rem;
}
.hero-content-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 999999999;
  /* animation-name: left;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1) \;; */
}
/* @keyframes left {
  from {
    opacity: 0;
    transform: translateX(-10rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
} */
.explore-now {
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  position: relative;
  background: transparent;
  color: #0f69e7;
  text-transform: uppercase;
  border: 3px solid #0f69e7;
  cursor: pointer;
  transition: all 0.7s;
  overflow: hidden;
  border-radius: 100px;
  width: 10rem;
  height: 3rem;
  font-weight: 500;
  font-size: 18px;
  margin-top: 2rem;
}

.explore-now:hover {
  color: white;
}
.explore-now span {
  transition: all 0.7s;
  z-index: -1;
}

.explore-now .first {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  width: 25%;
  height: 100%;
  background-color: #0f69e7;
}

.explore-now:hover .first {
  top: 0;
  right: 0;
}
.explore-now .second {
  content: "";
  position: absolute;
  left: 25%;
  top: -100%;
  height: 100%;
  width: 25%;
  background-color: #0f69e7;
}

.explore-now:hover .second {
  top: 0;
  left: 50%;
}

.explore-now .third {
  content: "";
  position: absolute;
  left: 50%;
  height: 100%;
  top: 100%;
  width: 25%;
  background-color: #0f69e7;
}

.explore-now:hover .third {
  top: 0;
  left: 25%;
}

.explore-now .fourth {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 25%;
  background-color: #0f69e7;
}

.explore-now:hover .fourth {
  top: 0;
  left: 0;
}

.hero-content-right {
  position: relative;
  /* animation-name: right;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); */
}
/* @keyframes right {
  from {
    transform: translateX(10rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
} */

.hero-content-right img {
  z-index: 9999;
  position: relative;
}
.circle-1 {
  position: absolute;
  width: 30rem;
  height: 30rem;
  top: 12rem;
  z-index: 3;
  right: 3rem;
  border-radius: 50%;
  background-color: rgb(179, 205, 237);
}
.circle-2 {
  position: absolute;
  width: 35rem;
  height: 35rem;
  top: 9rem;
  z-index: 2;
  right: 1rem;
  border-radius: 50%;
  background-color: rgb(219, 230, 244);
}
.circle-3 {
  position: absolute;
  width: 40rem;
  height: 40rem;
  top: 6rem;
  z-index: 1;
  right: -1rem;
  border-radius: 50%;
  background-color: rgb(236, 241, 247);
}
.floating-1 {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 20rem;
  z-index: 4;
  border-radius: 50%;
  border: 6px solid #98bae8;
  animation-name: float-1;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes float-1 {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-16rem);
    height: 5rem;
    border-radius: 25px;
  }
  60% {
    transform: translateY(10rem);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
}
.floating-2 {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 15rem;
  right: 7rem;
  z-index: 4;
  border-radius: 50%;
  border: 6px solid #98bae8;
  animation-name: float-2;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes float-2 {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-15rem);
  }
  60% {
    transform: translateY(2rem);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
}
.hero-icons-rotate {
  border-radius: 10px;
  width: 2rem;
  height: 2rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 18rem;
  cursor: pointer;
  z-index: 1;
  box-shadow: 11px 0px 25px 1px rgba(0, 0, 0, 0.19);
}
.rotate-icon {
  font-size: 30px;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.reputation-info-1 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  top: -2rem;
  background-color: white;
  padding: 1rem;
  border-radius: 15px;
  z-index: 9999999999;
  left: 20rem;
}
.country-list {
  display: flex;
  flex-direction: column;
}
.country-list h1 {
  font-size: 35px;
  color: #034354;
  height: 2.5rem;
}
.country-list span {
  color: #545483;
}
.reputation-info-2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  top: 15rem;
  background-color: white;
  padding: 1rem;
  border-radius: 15px;
  z-index: 3;
  left: -2rem;
}
.reputation-info-2 h1 {
  font-size: 35px;
  color: #3898e2;
}
#h1-2 {
  margin-top: 2rem;
  font-size: 50px;
  width: 30rem;
}
@media screen and (max-width: 890px) {
  .hero {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
@media screen and (max-width: 450px) {
  .hero {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .hero h1 {
    font-size: 2rem;
    width: 19rem;
  }
  #h1-2 {
    font-size: 1.5rem;
    width: 10rem;
  }
  .hero-img {
    width: 21rem;
  }
  .circle-1 {
    top: 6rem;
    left: 2rem;
    width: 18rem;
    height: 18rem;
  }
  .circle-2 {
    top: 3rem;
    width: 23rem;
    height: 23rem;
    left: -1rem;
  }
  .circle-3 {
    top: 0;
    left: -5rem;
    width: 30rem;
    height: 30rem;
  }
  .floating-2{
    right: 1rem;
  }
  .reputation-info-1{
  display: none;
  }
  .reputation-info-2{
  display: none;
  }
.body{
  overflow-x: hidden;
}
}
