/* ContactForm.css */

.contact-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 0px 30px 0px rgba(15, 105, 231, 0.59);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(15, 105, 231, 0.59);
  -moz-box-shadow: 0px 0px 30px 0px rgba(15, 105, 231, 0.59);
  margin-bottom: 1rem;
  
}

.contact-form {
  display: flex;
  flex-direction: column;
}
#name,#email,#message{
    border-radius: 15px;
    border: none;
    padding: 5px;
    background-color: #f0f6fe;
}
.form-group {
  margin-bottom: 20px;
}

.form-label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-input:focus {
  outline: none;
  border-color: #0f69e7;
  box-shadow: 0 0 5px rgba(15, 105, 231, 0.5);
}

textarea.form-input {
  resize: vertical;
  min-height: 100px;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #0f69e7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #004aad;
}

textarea {
  resize: none;
}
@media screen and (max-width: 600px) {
  .contact-form-container {
    max-width: 90%;
  }
}
