.jobs img {
  height: 50px;
  width: 50px;
  /* border-radius: 50%; */
}
.jobs {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.company-name-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.company-list {
  max-width: 350px;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: #e6ebf1;
  transition: 0.25s;
}
.jobs span {
  color: #2db346;
}
.company-list{
  animation-name: company;
  animation-duration: 0.5s;
}
@keyframes company {
  from{
    opacity: 0;
    scale: 0;
    transform: translateY(50px);
  }
  to{
    opacity: 1;
    scale: 1;
    transform: translateY(0);
  }
}
.company-list:hover{
  transform: translateY(-10px);
}

.company-details-logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.jobs-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#edit-btn{
  padding: 0;
  width: auto;
  background-color: transparent ;
  color: black;
  font-size: 30px;
}

@media screen and (max-width: 450px) {
.jobs{
  padding: 1rem;
}
}
